<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/_layout/layout.html}" >
	
<body>

	<div layout:fragment="content">

		<ul class="pui-breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Usuário</a></li>
			<li><a href="#">Editar</a></li>
		</ul>

		<div class="painel-primary pui-panel" th:title="#{pagina.edicao}+' '+#{usuario}">
			<form action="#" method="post" th:action="@{/usuarioEdicao/salvar}" th:object="${usuario}" >

				<div th:include="~{/_layout/mensagem.html}"></div>

				<input type="hidden" th:field="*{id}" />

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="nome" th:text="#{nmUsuario}">Nome</label>
					</div>
					<div class="col-sm-4 form-group">
						<input id="nome" class="form-control input-sm" th:errorclass="field-error" th:field="*{nmUsuario}" autofocus />
					</div>

					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="username" th:text="#{dcUsername}">Usuário Acesso: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="username" disabled th:errorclass="field-error" th:field="${usuario.dcUsername}" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="email" th:text="#{dcEmail}">Email: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="email" th:errorclass="field-error" th:field="*{dcEmail}" />
					</div>

					<div class="col-sm-2 form-group ">
						<label class="control-label" for="cargo" th:text="#{dcCargo}">Cargo: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="cargo" th:field="*{dcCargo}" />
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="telefone" th:text="#{dcTelefone}">Telefone: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="telefone" th:errorclass="field-error" th:field="*{dcTelefone}"  />
					</div>

					<div class="col-sm-2 form-group ">
						<label class="control-label" for="telefoneFixo" th:text="#{dcTelefoneFixo}">Telefone Fixo: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="telefoneFixo" th:field="*{dcTelefoneFixo}" />
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="cpf" th:text="#{nuCpf}">Cpf</label>
					</div>
					<div class="col-sm-4 form-group">
						<input type="text" class="form-control input-sm CPF" th:errorclass="field-error"
							maxlength="14" id="cpf" th:field="${usuario.nuCpf}" disabled
							placeholder="___.___.___-__" />
					</div>

					<div class="col-sm-2 form-group ">
						<label class="control-label" for="nivelEscalonamento" th:text="#{nivelEscalonamento}">Nivel: </label>
					</div>
					<div class="col-sm-4 form-group">
						<select class="form-control input-sm pui-dropdown" id="nivelEscalonamento" th:field="*{nivelEscalonamento}" >
							<option value="">Selecione</option> 
							<option th:each="nvl : ${niveisEscalonamento}" 
						          th:value="${{nvl}}" 
						          th:text="${nvl.nuNivelEscalonamento + ' - ' + nvl.dcNivelEscalonamento}">
							</option>
						</select>
					</div>
				</div>
				
				<div class="row" th:if="${usuario.flMaster}">
					<div class="col-sm-2 form-group ">
						<label class="control-label" for="delegado" th:text="#{delegado}">Delegado: </label>
					</div>
					<div class="col-sm-4 form-group">
						<select class="form-control input-sm" id="delegado" th:field="*{delegado}" >
							<option value="">Selecione</option> 
							<option th:each="del : ${listaUsuarioDelegado}" 
						          th:value="${{del}}" 
						          th:text="${del.nmUsuario + '(' + del.dcUsername + ')'}">
							</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="listaGrupoPerfil" th:text="#{grupoPerfisIdList}">Grupo Perfil</label>
					</div>
					<div class="col-sm-10 form-group">
						<div class="pui-picklist" id="listaGrupoPerfil">
							<select></select> 
							<select th:field="*{grupoPerfisIdList}" th:multiple="true"></select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="bloqueado" th:text="#{flBloqueio}">Bloqueado: </label>
					</div>
					<div id="bloqueado" class="col-sm-10 form-group">
						<label class="radio-inline" th:if="${usuario.flBloqueio.toInt() == 2 || usuario.flBloqueio.toInt() == 3 || usuario.flBloqueio.toInt() == 4}"> <input type="radio" th:value="BLOQUEADO_NAO" disabled th:text="Não"></label>
						<label class="radio-inline" th:if="${usuario.flBloqueio.toInt() != 2 && usuario.flBloqueio.toInt() != 3 && usuario.flBloqueio.toInt() != 4}"> <input type="radio" th:value="BLOQUEADO_NAO" th:field="*{flBloqueio}" th:text="Não"></label>
						
						<label class="radio-inline" th:if="${usuario.flBloqueio.toInt() == 0}"> <input type="radio" th:value="BLOQUEADO_ADM" th:field="*{flBloqueio}" th:text="Sim"></label> 
						<label class="radio-inline" th:if="${usuario.flBloqueio.toInt() == 1}"> <input type="radio" th:value="BLOQUEADO_ADM" th:field="*{flBloqueio}" checked="checked" th:text="Sim"></label>
						<label class="radio-inline" th:if="${usuario.flBloqueio.toInt() == 2}"> <input type="radio" th:value="BLOQUEADO_PRIMEIROACESSO" th:field="*{flBloqueio}" checked="checked" th:text="Sim"></label> 
						<label class="radio-inline" th:if="${usuario.flBloqueio.toInt() == 3}"> <input type="radio" th:value="BLOQUEADO_EXPIRADA" th:field="*{flBloqueio}" checked="checked" th:text="Sim"></label> 
						<label class="radio-inline" th:if="${usuario.flBloqueio.toInt() == 4}"> <input type="radio" th:value="BLOQUEADO_TENTATIVA" th:field="*{flBloqueio}" checked="checked" th:text="Sim"></label> 
						
						<label th:if="${usuario.flBloqueio.toInt() != 0}" class="radio-inline" th:text="${', ' + usuario.flBloqueio.getI18n()}"></label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="enviaEmail" th:text="#{flEnvioEmail}">Envia E-mail: </label>
					</div>
					<div id="enviaEmail" class="col-sm-4 form-group">
						<label class="radio-inline"> <input type="radio" th:value="false" th:field="*{flEnvioEmail}">Não</label> 
						<label class="radio-inline"> <input type="radio" th:value="true" th:field="*{flEnvioEmail}">Sim</label>
					</div>
				</div>

				<input type="hidden" th:field="*{urlConsulta}"/>

				<div class="form-group buttonsGroup">
					<a id="voltar"> 
						<label th:text="#{botao.voltar}"></label>
					</a>
					<a id="limparCampos">
						<label th:text="#{botao.limpar}"></label>
					</a>
					<button id="submitBt" type="submit">
						<label th:text="#{botao.cadastrar}"></label>
					</button>
				</div>

			</form>
		</div>
	</div>
	
	<div layout:fragment="javascript-support">
		<script type="text/javascript" src="../../resources/js/jquery.mask.js" th:src="@{/resources/js/jquery.mask.js}"></script>
		
		<script>
			$(function (){
			  	var sourceData = [(${grupoPerfisSourceJSON})];
			  	var targetData = [(${grupoPerfisTargetJSON})];
			  	declare_puipicklist('#listaGrupoPerfil', sourceData, targetData, 'grupoPerfisIdList');
				
				$('#telefoneFixo').mask('(00) 0000-0000');
				$('#telefone').mask('(00) 00000-0000');
				$('#cpf').mask('999.999.999-99' );
				$('#username').keyup(function () { 
					this.value = this.value.replace(/[^\w._-]/g,'');
				});
				
				$('#voltar').puibutton({
					icon: 'fa-arrow-circle-left',						
				    click: function(event) {
				    	document.location = document.referrer;
				    }
				});
				
				$('#limparCampos').puibutton({
					icon: 'fa-eraser',
					click: function(event){
						$('#nome').val('');
						$('#email').val('');
						$('#cargo').val('');
						$('#telefone').val('');
						$('#telefoneFixo').val('');
						$('#delegado').puidropdown('selectValue', '');
						if($('#flBloqueio1')[0] != undefined){
							$('#flBloqueio1')[0].checked = true;
						}
						if($('#flBloqueio2')[0] != undefined){
							$('#flBloqueio2')[0].checked = false;
						}
						$('#flEnvioEmail1')[0].checked = true;
						$('#flEnvioEmail2')[0].checked = false;
						$('#nivelEscalonamento').puidropdown('selectValue', '');
						$('.ui-picklist-button-removeall').puibutton('option','click').call();
						$('.alert').hide();
						$('.field-error').removeClass('field-error');
						window.location = '#content';
					}
				});
				
				$('#submitBt').puibutton({
					icon: 'fa-check',		
				    click: function(event) {
				    	 $('#dlg').puidialog('show');
				    }
				});
				
				
				$('#delegado').puidropdown({
		            filter: true,
		            filterMatchMode: 'contains'
		        });
				
			});
		</script>
	</div>

</body>
</html>