<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/_layout/layout.html}">

<body>
	<div layout:fragment="content">
		<ul class="pui-breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Usuario</a></li>
			<li><a href="#">Consulta</a></li>
		</ul>
 
		<div class="painel-primary pui-panel-toggleable" th:title="#{pagina.consulta}+' '+#{usuario}">
			<form id="formConsulta" action="#" method="get" th:action="@{/usuarioConsulta/s}" th:object="${usuario}">

				<div th:include="~{/_layout/mensagem.html}"></div>

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label" for="nome" th:text="#{nmUsuario}"></label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="nome" th:field="*{nmUsuario}" autofocus />
					</div>

					<div class="col-sm-2 form-group ">
						<label class="control-label" for="username" th:text="#{dcUsername}">Usuário Acesso: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="username" th:field="*{dcUsername}" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label" for="email" th:text="#{dcEmail}">Email: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="email" th:field="*{dcEmail}" />
					</div>

					<div class="col-sm-2 form-group ">
						<label class="control-label" for="cargo" th:text="#{dcCargo}">Cargo: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="cargo" th:field="*{dcCargo}" />
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label" for="nome" th:text="#{dcTelefone}">Telefone: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="telefone" th:field="*{dcTelefone}" />
					</div>

					<div class="col-sm-2 form-group ">
						<label class="control-label" for="nome" th:text="#{nuCpf}">Cpf</label>
					</div>
					<div class="col-sm-4 form-group">
						<input type="text" class="form-control input-sm CPF"
							maxlength="14" id="cpf" th:field="*{nuCpf}"
							placeholder="___.___.___-__" />
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label" for="grupoPerfilFiltro" th:text="#{grupoPerfil}">Grupo Perfil</label>
					</div>
					<div class="col-sm-4 form-group">
						<select class="form-control input-sm" id="grupoPerfilFiltro" th:field="*{grupoPerfilFiltro}" >
							<option value="">Todos</option>
							<option th:each="gp : ${grupoPerfis}" 
					          th:value="${gp.id}" 
					          th:text="${gp.noGrupoPerfil}">GP</option>
						</select>
					</div>
					
					<div class="col-sm-2 form-group ">
						<label class="control-label" for="statusFiltro" th:text="#{statusFiltro}">Status</label>
					</div>
					<div class="col-sm-4 form-group">
						<select class="form-control input-sm pui-dropdown" id="statusFiltro" th:field="*{statusFiltro}" >
							<option value="">Todos</option>
							<option th:each="s : ${todosStatus}" 
					          th:value="${s.value}" 
					          th:text="${s.i18n}">GP</option>
						</select>
					</div>
				</div>

				<div class="form-group buttonsGroup">
					<button id="buttonFind" class="pui-button" type="submit"> 
						<label th:text="#{botao.consultar}"></label>
					</button>
					<a class="pui-button" th:href="@{'/usuarioConsulta'}"> 
						<label th:text="#{botao.limpar}"></label>
					</a>
				</div>

			</form>
		</div>
		
		<div class="container-fluid pui-panel-toggleable" th:title="#{tabela.resultados}">
			<div class="pui-datatableResult" id="usuarios"></div>
		</div>
		
		<div id="gruposUsuario" title="Grupos">
			<div id="tabelaGruposUsuario"></div>
		</div>
		<div id="dlgExcluir" title="Excluir?" style="display:none;">
			Deseja realmente excluir o usuário selecionado?
		</div>
		<div id="dlgResetar" title="Resetar?" style="display:none;">
			Deseja realmente resetar o usuário selecionado?
		</div>
		<div id="dlgBloquear" title="Bloquear?" style="display:none;">
			Deseja realmente bloquear o usuário selecionado?
		</div>
		<div id="dlgDesbloquear" title="Desbloquear?" style="display:none;">
			Deseja realmente desbloquear o usuário selecionado?
		</div>
	</div>
	
	<div layout:fragment="javascript-support">
		<script>
			$(function (){
				$("#buttonFind").puibutton({
				    click: function(event) {
				    	 $('#dlg').puidialog('show');
				    }
				});
			
			  	var localData = [(${usuariosJSON})];
				$('#usuarios').puidatatable({
					emptyMessage: 'Nenhum Registro Encontrado',
					responsive: true,
			        columns: [
			        	{headerText: 'Opções', bodyClass: 'buttonsGroup',headerStyle: 'width:13%',
			        		content: function (linha){
			        			var botaoBloqueio = "";
			        			if(linha.flBloqueio == 'BLOQUEADO_NAO'){
			        				botaoBloqueio = `<button title="Bloquear" id="botaoBloquear${linha.id}" class='btn btn-primary btn-sm' onclick="bloquear(${linha.id});"><span class='fa fa-user-times'></span></button>`;
			        			} else if(linha.flBloqueio == 'BLOQUEADO_ADM'){
			        				botaoBloqueio = `<button title="Desbloquear" id="botaoDesbloquear${linha.id}" class='btn btn-primary btn-sm' onclick="desbloquear(${linha.id});"><span class='fa fa-unlock'></span></button>`;
			        			}else{
			        				botaoBloqueio = `<button title="Nenhuma ação de bloqueio/desbloqueio disponível" id="botaoDesabilitado${linha.id}" class='btn btn-secondary btn-sm'><span class='fa fa-user'></span></button>`;
			        			}
			        			return ""
			        			+ botaoBloqueio
								+`<button title="Resetar" id="botaoResetar${linha.id}" class='btn btn-primary btn-sm' onclick="resetar(${linha.id});"><span class='fa fa-user'></span></button>`
			        			+`<button title="Editar" id="botaoEditar${linha.id}" class='btn btn-primary btn-sm' onclick="editar(${linha.id});"><span class='fa fa-pencil'></span></button>`
								+`<button title="Excluir" id="botaoExcluir${linha.id}" class='btn btn-primary btn-sm' onclick="excluir(${linha.id});"><span class='fa fa-trash'></span></button>`;
			        		}
			        	},
			            {field: 'nmUsuario', headerText: 'Nome'},
			            {field: 'dcUsername', headerText: 'Usuário de Acesso'},
			            {field: 'dcEmail', headerText: 'Email'},
			            {field: 'dcCargo', headerText: 'Cargo'},
			            {field: 'dcTelefone', headerText: 'Telefone'},
			            {field: 'nuCpf', headerText: 'CPF'},
			            {field: 'status', headerText: 'Status'},
			            {headerText: 'Grupo Perfil', bodyClass: 'buttonsGroup', 
			            	content: function (linha){
			            		return ""
			            		+`<button title="Mostrar Grupos" id="botaoVerGrupos${linha.id}" class='btn btn-primary btn-sm' onclick="mostraGrupos(${linha.id});"><span class='fa fa-bars'></span></button>`;
			            	},
			            }
			        ],
			        datasource: localData,
			        paginator: {
				        rows: 10
				    },
				});
				
				$('#grupoPerfilFiltro').puidropdown({
		            filter: true,
		            filterMatchMode: 'contains'
		        });
				
				$('#gruposUsuario').puidialog({
					showEffect: 'fade',
				    hideEffect: 'fade',
				    effectSpeed: 'slow',
				    resizable: false,
				    maximizable: false,
					responsive: true,
				    modal: false,
				    title: 'Grupos de Perfil'
				});
				
			});
			
			function mostraGrupos(idUsuario){
				$('#tabelaGruposUsuario').puidatatable({
					paginator: {
		                rows: 10
		            },
		            columns: [
		                {field: 'noGrupoPerfil', headerText: 'Nome do Grupo'},
		            ],
		            datasource: function(callback) {
		            	$('#gruposUsuario').puidialog('hide');
		            	$('#dlg').puidialog('show');
		                $.ajax({
		                    type: "GET",
		                    url: getAppPath() + '/usuarioConsulta/grupoPerfis/'+idUsuario,
		                    dataType: "json",
		                    context: this,
		                    success: function(response) {
		                        callback.call(this, response);
		                        $('#dlg').puidialog('hide');
								$('#gruposUsuario').puidialog('show');
		                    }
		                });
		            }
		        });
				
			}
			
			function editar(idUsuario){
				document.location = getAppPath() + '/usuarioEdicao/'+idUsuario;
			}
			
			function excluir(idUsuario){
				show_puidialog('#dlgExcluir', 'DELETE', '/usuarioConsulta/excluir/'+idUsuario, '#formConsulta');
			}
			
			function resetar(idUsuario){
				show_puidialog('#dlgResetar', 'PUT', '/usuarioConsulta/resetar/'+idUsuario, '#formConsulta');
			}
			
			function bloquear(idUsuario){
				show_puidialog('#dlgBloquear', 'PUT', '/usuarioConsulta/bloquear/'+idUsuario, '#formConsulta');
			}
			
			function desbloquear(idUsuario){
				show_puidialog('#dlgDesbloquear', 'PUT', '/usuarioConsulta/desbloquear/'+idUsuario, '#formConsulta');
			}
		</script>
	</div>
</body>
</html>