<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/_layout/layout.html}">

<body>
	<div layout:fragment="content">
		<ul class="pui-breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Grupo de Perfil</a></li>
			<li><a href="#">Consulta</a></li>
		</ul>

		<div class="painel-primary pui-panel-toggleable"
			th:title="#{pagina.cadastro}+' '+#{grupoPerfil}">
			<form action="#" method="post" th:action="@{/usuarioCadastro/salvar}" th:object="${usuario}">

				<div th:include="~{/_layout/mensagem.html}"></div>

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label" for="nome" th:text="#{usuario.nome}"> 
							<span style="color: red !important; font-weight: bold;">*</span>
						</label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="nome" th:field="*{nmUsuario}" required="required" autofocus />
					</div>

					<div class="col-sm-2 form-group ">
						<label class="control-label" for="username" th:text="#{usuario.usuarioAcesso}">Usuário Acesso: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="username" th:field="*{dcUsername}" required="required" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label" for="email" th:text="#{usuario.email}">Email: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="email" th:field="*{dcEmail}" required="required" />
					</div>

					<div class="col-sm-2 form-group ">
						<label class="control-label" for="cargo" th:text="#{usuario.cargo}">Cargo: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="cargo" th:field="*{dcCargo}" />
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label" for="nome" th:text="#{usuario.telefone}">Telefone: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="telefone" th:field="*{dcTelefone}" required="required"  />
					</div>

					<div class="col-sm-2 form-group ">
						<label class="control-label" for="nome" th:text="#{usuario.cpf}">Cpf</label>
					</div>
					<div class="col-sm-4 form-group">
						<input type="text" class="form-control input-sm CPF"
							maxlength="14" id="cpf" th:field="*{nuCpf}"
							placeholder="___.___.___-__" required="required" />
					</div>
				</div>


				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label" for="listaGrupoPerfil" th:text="#{grupoPerfil}">Grupo Perfil</label>
					</div>
					<div class="col-sm-4 form-group">
						<select class="form-control input-sm" id="nivelEscalonamento" th:field="*{nivelEscalonamento}" required>
							<option value="">Todos	</option> 
							<option th:each="grupo : ${grupoPerfis}" 
						          th:value="${grupo}" 
						          th:text="${grupo.noGrupoPerfil}">
							</option>
						</select>
					</div>
				</div>

				<div class="form-group buttonsGroup">
					<button class="pui-button" type="submit">
						<label th:text="#{botao.cadastrar}"></label>
					</button>
					<a class="pui-button" th:href="@{'/usuarioCadastro'}"> 
						<label th:text="#{botao.limpar}"></label>
					</a>
				</div>

			</form>
		</div>

		<div class="pui-panel-toggleable" th:title="#{tabela.resultados}">
			<div class="pui-datatableResult" id="tableGrupoPerfil"></div>
		</div>
	</div>

	<div layout:fragment="javascript-support">
		<script>
			$(function (){
			  	var localData = [(${grupoPerfisJSON})];
				$('#tableGrupoPerfil').puidatatable({
					emptyMessage: 'Nenhum Registro Encontrado',
					responsive: true,
					paginator: {
				        rows: 20
				    },
			        columns: [
						{field: '', headerText: ''},
						{field: '', headerText: ''},
						{field: '', headerText: ''},
						{field: '', headerText: ''},
			        	{field: '', headerText: 'Nome'},
			        	{field: '', headerText: 'Usuário Acesso'},
			            {field: '', headerText: 'Email'},
			            {field: '', headerText: 'Cargo'},
			            {field: '', headerText: 'Telefone'},
			            {field: '', headerText: 'CPF'},
			            {field: '', headerText: 'Status'},
			            {field: '', headerText: 'Grupo Perfil'},
			           
			        ],
			        datasource: localData,
				});
			});
		</script>
	</div>

</body>
</html>