<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/_layout/layout.html}" >
	
<body>

	<div layout:fragment="content">


		<ul class="pui-breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Usuário</a></li>
			<li><a href="#">Editar</a></li>
		</ul>

		<div class="painel-primary pui-panel" th:title="#{pagina.edicao}+' '+#{grupoPerfil}">
			<form action="#" method="post" th:action="@{/usuarioEdicao/salvar}" th:object="${usuario}" >

				<div th:include="~{/_layout/mensagem.html}"></div>

				<input type="hidden" th:field="*{id}" />

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="nome" th:text="#{nmUsuario}">Nome</label>
					</div>
					<div class="col-sm-4 form-group">
						<input id="nome" class="form-control input-sm" th:errorclass="field-error" th:field="*{nmUsuario}" autofocus />
					</div>

					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="username" th:text="#{dcUsername}">Usuário Acesso: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="username" disabled th:errorclass="field-error" th:field="*{dcUsername}" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="email" th:text="#{dcEmail}">Email: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="email" th:errorclass="field-error" th:field="*{dcEmail}" />
					</div>

					<div class="col-sm-2 form-group ">
						<label class="control-label" for="cargo" th:text="#{dcCargo}">Cargo: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="cargo" th:field="*{dcCargo}" />
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="telefone" th:text="#{dcTelefone}">Telefone: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="telefone" th:errorclass="field-error" th:field="*{dcTelefone}"  />
					</div>

					<div class="col-sm-2 form-group ">
						<label class="control-label" for="telefoneFixo" th:text="#{dcTelefoneFixo}">Telefone Fixo: </label>
					</div>
					<div class="col-sm-4 form-group">
						<input class="form-control input-sm" id="telefoneFixo" th:field="*{dcTelefoneFixo}" />
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="cpf" th:text="#{nuCpf}">Cpf</label>
					</div>
					<div class="col-sm-4 form-group">
						<input type="text" class="form-control input-sm CPF" th:errorclass="field-error"
							maxlength="14" id="cpf" th:field="*{nuCpf}"
							placeholder="___.___.___-__" />
					</div>

					<div class="col-sm-2 form-group ">
						<label class="control-label" for="nivelEscalonamento" th:text="#{nivelEscalonamento}">Nivel: </label>
					</div>
					<div class="col-sm-4 form-group">
						<select class="form-control input-sm" id="nivelEscalonamento" th:field="*{nivelEscalonamento}" >
							<option value="">Selecione</option> 
							<option th:each="nvl : ${niveisEscalonamento}" 
						          th:value="${{nvl}}" 
						          th:text="${nvl.nuNivelEscalonamento + ' - ' + nvl.dcNivelEscalonamento}">
							</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="listaGrupoPerfil" th:text="#{grupoPerfisIdList}">Grupo Perfil</label>
					</div>
					<div class="col-sm-10 form-group">
						<div class="pui-picklist" id="listaGrupoPerfil">
							<select></select> 
							<select th:field="*{grupoPerfisIdList}" th:multiple="true"></select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="bloqueado" th:text="#{flBloqueio}">Bloqueado: </label>
					</div>
					<div id="bloqueado" class="col-sm-2 form-group">
						<label class="radio-inline"> <input type="radio" th:value="BLOQUEADO_PRIMEIROACESSO" th:field="*{flBloqueio}">Não</label> 
						<label class="radio-inline"> <input type="radio" th:value="BLOQUEADO_ADM" th:field="*{flBloqueio}">Sim</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="enviaEmail" th:text="#{flEnvioEmail}">Envia E-mail: </label>
					</div>
					<div id="enviaEmail" class="col-sm-4 form-group">
						<label class="radio-inline"> <input type="radio" th:value="false" th:field="*{flEnvioEmail}">Não</label> 
						<label class="radio-inline"> <input type="radio" th:value="true" th:field="*{flEnvioEmail}">Sim</label>
					</div>
				</div>

				<div class="form-group buttonsGroup">
					<button id="submitBt" class="pui-button" type="submit">
						<label th:text="#{botao.cadastrar}"></label>
					</button>
					<a class="pui-button" th:href="@{'/usuarioCadastro'}"> 
						<label th:text="#{botao.limpar}"></label>
					</a>
				</div>

			</form>
		</div>
	</div>
	
	<div layout:fragment="javascript-support">
		<script type="text/javascript" src="../../resources/js/jquery.mask.js" th:src="@{/resources/js/jquery.mask.js}"></script>
		
		<script>
			$(function (){
			  	var sourceData = [(${grupoPerfisSourceJSON})];
			  	var targetData = [(${grupoPerfisTargetJSON})];
			  	declare_puipicklist('#listaGrupoPerfil', sourceData, targetData, 'grupoPerfisIdList');
				
				$('#telefoneFixo').mask('(00) 0000-0000');
				$('#telefone').mask('(00) 00000-0000');
				$('#cpf').mask('999.999.999-99' );
				$('#username').keyup(function () { 
					this.value = this.value.replace(/[^\w._-]/g,'');
				});
				
				$('#submitBt').puibutton({
				    click: function(event) {
				    	 $('#dlg').puidialog('show');
				    }
				});
				
			});
		</script>
	</div>

</body>
</html>