body {
	margin-top: 10px;
	background-color: whitesmoke;
	height: 100%;
}

.header {
}

#buttonMenu {
	border-radius: 10px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #4A6695;
	color: white;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	font-size : 14px;
}

.user-box {
	box-shadow: 0 0 15px 1px rgba(51, 81, 126, 0.5) !important;
	-moz-box-shadow: 0 0 15px 1px rgba(51, 81, 126, 0.5) !important;
	-webkit-box-shadow: 0 0 15px 1px rgba(51, 81, 126, 0.5) !important;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 4px 4px 4px 4px;
	height: 90px;
	position: absolute;
	right: 4%;
	top: 19px;
	width: 300px;
	z-index: 100;
}

.user-box-line {
	height: 3px;
	margin-bottom: 0;
	margin-top: 18px;
}

.innerUser-box {
	filter: alpha(opacity = 100); /* internet explorer */
	-khtml-opacity: 1; /* khtml, old safari */
	-moz-opacity: 1; /* mozilla, netscape */
	opacity: 1;
	margin: 2px 5px;
	font-weight: normal;
	border-width: 1px 0;
}

.menu-link {
	font-weight: bold !important;
	color: #4A6695 !important;
}

.ui-menu-parent {
	border: 1px solid lightgray !important;
	margin-right: 5px !important;
}

.buttonsGroup {
	text-align: center;
}

.buttonsGroup > button {
	margin: 1px;
}

.buttonCenter {
	text-align: center;
}

/**
*java script realiza o show desse componete no fim do carregamente da pagina
*a��o tomada para retirar o efeito de tela 'montando' os componentes
*/
#content {
	display: none;
}

#content-parent {
	margin-top: 10px;
	margin-bottom: 40px;
	min-height: 500px;
}

#dlg {
	display : none;
}

.pui-datatableResult #ui-id-1 {
	width: 13% !important;
}

.ui-datatable-odd {
    background: none repeat scroll 0 0 #F9F9F9;
}

.ui-datatable table {
    table-layout: auto
}

.ui-datatable tbody td {
	padding: 2px 5px !important;
}

.navbar {
	margin-bottom: 0px;
	border: 0px !important;
}

.pui-picklist {
	width: 100%;
}

.ui-picklist .ui-picklist-listwrapper {
	width: 48%;
}

.ui-picklist .ui-picklist-list {
	width: 100%;
}

.ui-picklist-buttons {
	width: 4%;
}

.ui-button-icon-only {
	text-indent: 0px !important;
}

.ui-panel-titlebar, .ui-button-text, .ui-c {
	background: url('../img/btnBackground.png') !important;
	color: white !important;
}

.ui-picklist-button-add, .ui-picklist-button-addall,
	.ui-picklist-button-remove, .ui-picklist-button-removeall,
	.ui-picklist-caption.ui-widget-header {
	background: url('../img/btnBackground.png') !important;
}

.panel-default {
	opacity: 0.9;
	margin-left: 30%;
	margin-right: 10%;
}

.form-group.last {
	margin-bottom: 0px;
}

.ui-picklist-caption.ui-widget-header {
	color: white !important;
}

.fa.fa-fw {
	color: white !important;
}

.fa.fa-fw.fa-search {
	color: lightblue !important;
}

.label {
	text-align: right;
}

.control-label {
	font-weight: normal;
}

img, .row-fluid {
	width: 100%;
	height: 100%;
}

.ui-panel-titlebar-icon.ui-panel-titlebar-toggler.ui-corner-all.ui-state-default{
	background: url('../img/btnBackground.png') !important;
	
}

.acao{
	width: 165px;
}

#ui-id-5 {
	width: 100px;
}

.required:after {
  content:" *"; 
  color: red;
}

label.control-label {
	width : 100%;
	text-align: right;
} 

.field-error {
    border-color: #a94442 !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 10px solid #e0f79b;
    background: #e0f79b;
    color: #000000;
}

.ui-dropdown {
	width: 100%;
}

.ui-dropdown-trigger {
	width: 30px !important;
}

.ui-dropdown-filter-container {
	width: 100%;
}

.fa.fa-fw.fa-caret-down{
	color:  black !important;
}

.ui-dropdown-label.ui-inputtext.ui-corner-all{
	background-color: white;
}

.parent-panel {
	background-color: white;
	border: 1px solid #cecece;
	border-radius: 4px;
}

.ui-breadcrumb {
	margin: 20px 0px !important;	
}

.ui-panel {
	margin-bottom: 20px !important;
	background-color: #F5F5F5 !important;
}

.ui-picklist .ui-picklist-filter {
	background-color: #fff;
}

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .footer {
    	font-size : 12px;
    }
}