<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<link rel="application icon" href="../../resources/img/favicon.ico" th:href="@{/resources/img/favicon.ico}"/>  
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
		<link th:href="@{/resources/css/login.css}" rel="stylesheet" type="text/css"/>
	    <title th:text="#{sistema.titulo}">Nome do Sistema</title>

		<script src='https://www.google.com/recaptcha/api.js?hl=pt-br'></script>	    
	</head>
	<body>
		<script type="text/javascript">
			function getAppPath(){
				return "/"+window.location.pathname.split('/')[1];
			}
			
			function go(url) {
		    	window.location = getAppPath() + url+"?username="+document.getElementById("username").value;
		    } 
			
			function goLogin(url) {
				window.location = getAppPath() + '/login';
			}
		</script>
		
		 <div class="container-fluid">
	        <div class="card card-container">
	        	<img alt="" th:src="@{'/resources/img/login/login-top-bg.png'}" style="width: 100%">
				    <div class="form-container container">
						<form id="formulario" th:action="@{/senha/recuperarSenha}" method="post" th:object="${usuario}">
					    	<div class="row">
								<div class="col-sm-12">
									<label id="titulo"><a th:href="@{/}">MGU</a> > Problemas com Senha</td></label>
								</div>
							</div>
					    	<div class="row">
								<div class="col-sm-2">
									<label for="username" class="control-label">Usuário:</label>
								</div>
								<div class="col-xs-12 col-sm-6 form-group">
									<input type="text" id="username" name="username" class="loginInput" th:field="*{dcUsername}" autofocus tabindex="1"/>
								</div>
								<div class="col-sm-4 hidden-xs">
									<input class="btnLogin" type="submit" value="Resetar Senha" tabindex="3"/>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-8">
									<div class="g-recaptcha" th:attr="data-sitekey=${@parametrizacaoServiceImpl.findByDcParametro('recaptcha_site_key')}" style="transform:scale(0.77);-webkit-transform:scale(0.93);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
									<span id="msgError" th:if="${msgError}" class="alert alert-danger col-sm-12" th:text="${msgError}"></span>
									<span id="msgSucesso" th:if="${msgSucesso}" class="alert alert-success col-sm-12" th:text="${msgSucesso}"></span>
								</div>
								<div class="col-sm-4">
									<input class="btnLogin hidden-xs" style="margin-bottom: 20px" type="button" onclick="go('/senha/trocarSenha');" value="Trocar Senha" tabindex="4"/>
									<input class="btnLogin hidden-xs" type="button" onclick="goLogin();" value="Voltar" />
								</div>
							</div>
							<div class="row hidden-sm hidden-md hidden-lg">
				    			<div class="col-xs-12" style="padding-bottom: 5px;text-align: center">
									<input class="btnLogin" type="submit" value="Resetar Senha" tabindex="3" style="margin: 0 auto"/>
								</div>
								<div class="col-xs-12" style="padding-bottom: 5px;text-align: center">
									<input class="btnLogin" type="button" onclick="go('/senha/trocarSenha');" value="Trocar Senha" style="margin: 0 auto" tabindex="4"/>
								</div>
								<div class="col-xs-12" style="padding-bottom: 5px;text-align: center">
									<input class="btnLogin" type="button" onclick="goLogin();" value="Voltar" style="margin: 0 auto"/>
								</div>
				    		</div>
							<div class="row">
								<div class="col-sm-12">
									<p id="version" th:if="${session.versionLabel}" th:text="${session.versionLabel}"/>
								</div>
							</div>
			            </form><!-- /form -->
            		</div>
	        </div><!-- /card-container -->
	    </div><!-- /container -->
	</body>
</html>