<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/_layout/layout.html}">

<body>
	<div layout:fragment="content">
		<ul class="pui-breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Grupo de Perfil</a></li>
			<li><a href="#">Consulta</a></li>
		</ul>

		<div class="pui-panel-toggleable" th:title="#{pagina.consulta}+' '+#{grupoPerfil}">
			<form id="formConsulta" action="#" method="get" th:action="@{/grupoPerfilConsulta/s}" th:object="${grupoPerfil}">
			
				<div class="row">
					<div class="col-sm-2 form-group">
						<label class="control-label" for="nome" th:text="#{noGrupoPerfil}">Nome: </label> 
					</div>
					<div class="col-sm-10 form-group">
						<input class="form-control" id="nome" th:field="*{noGrupoPerfil}" />
					</div>
				</div>

				<div class="form-group buttonsGroup">
					<button id="submitBt" class="pui-button" type="submit">
						<label th:text="#{botao.consultar}"></label>
					</button>
					<a class="pui-button" th:href="@{'/grupoPerfilConsulta'}">
						<label th:text="#{botao.limpar}"></label>
					</a>
				</div>
			</form>
		</div>

		<div class="pui-panel-toggleable" th:title="#{tabela.resultados}">
			<div class="pui-datatableResult" id="tableGrupoPerfil"></div>
		</div>
		
		<div id="dlgExcluir" title="Excluir?" style="display:none;">
			Deseja realmente excluir o Grupo de Perfil selecionado?
		</div>
	</div>

	<div layout:fragment="javascript-support">
		<script>
			$(function (){
			  	var localData = [(${grupoPerfisJSON})];
				$('#tableGrupoPerfil').puidatatable({
					emptyMessage: 'Nenhum Registro Encontrado',
					responsive: true,
					paginator: {
				        rows: 10
				    },
				    columns: [
			        	{headerText: 'Opções', bodyClass: 'buttonsGroup', 
			        		content: function (linha){
			        			return ""
			        			+`<button title="Editar" id="botaoEditar${linha.id}" class='btn btn-primary btn-sm' onclick="editar(${linha.id});"><span class='fa fa-pencil'></span></button>`
								+`<button title="Excluir" id="botaoExcluir${linha.id}" class='btn btn-primary btn-sm' onclick="excluir(${linha.id});"><span class='fa fa-trash'></span></button>`; 
			        		}
			        	},
			            {field: 'noGrupoPerfil', headerText: 'Nome'},
			        ],
			        datasource: localData,
				});
			});
			
			function editar(idGrupoPerfil){
				document.location = getAppPath() + '/grupoPerfilEdicao/'+idGrupoPerfil ;
			}
			
			function excluir(idGrupoPerfil){
				show_puidialog('#dlgExcluir', 'DELETE', '/grupoPerfilConsulta/excluir/'+idGrupoPerfil, '#formConsulta');
			}
			
			$('#submitBt').puibutton({
			    click: function(event) {
			    	 $('#dlg').puidialog('show');
			    }
			});
			
		</script>
	</div>

</body>
</html>