<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/_layout/layout.html}">

<body>
	<div layout:fragment="content">
		<ul class="pui-breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Grupo de Perfil</a></li>
			<li><a href="#">Consulta</a></li>
		</ul>

		<div class="pui-panel-toggleable" th:title="#{pagina.consulta}+' '+#{grupoPerfil}">
			<form action="#" method="get" th:action="@{/grupoPerfilConsulta/s}" th:object="${grupoPerfil}">
			
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label" for="nome"
								th:text="#{grupoPerfil.nome}">Nome: </label> <input
								class="form-control" id="nome" th:field="*{noGrupoPerfil}" />
						</div>
					</div>
				</div>

				<div class="form-group buttonsGroup">
					<button class="pui-button" type="submit"><label th:text="#{botao.consultar}"></label></button>
					<a class="pui-button" th:href="@{'/grupoPerfilConsulta'}">
						<label th:text="#{botao.limpar}"></label>
					</a>
				</div>
			</form>
		</div>

		<div class="pui-panel-toggleable" th:title="#{tabela.resultados}">
			<div class="pui-datatableResult" id="tableGrupoPerfil"></div>
			
			<table border=1>
			  <tr>
			    <th>Opções</th>
			    <th>Nome</th>
			  </tr>
			  <tr th:each="gp,iterStat : ${grupoPerfis}" th:class="${iterStat.odd}? 'odd'">
			    <td>aaa</td>
			    <td th:text="${gp.noGrupoPerfil}">2.41</td>
			  </tr>
			</table>
		</div>
		
		
	</div>

	<div layout:fragment="javascript-support">
		<script>
			$(function (){
			  	var localData = [(${grupoPerfisJSON})];
				$('#tableGrupoPerfil').puidatatable({
					emptyMessage: 'Nenhum Registro Encontrado',
					responsive: true,
					paginator: {
				        rows: 20
				    },
			        columns: [
			        	{'<button>asdf</button>'},
			            {field: 'noGrupoPerfil', headerText: 'Nome'},
			        ],
			        datasource: localData,
				});
			});
			
// 			var txt1 = "<button>Text.</button>";
// 			var options = $('.options');
// 			for(var i = 0;i < options.length; i++){
// 				options.get(i).append(txt1);
// 			}
		</script>
	</div>

</body>
</html>