<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/_layout/layout.html}">

<body>

	<div layout:fragment="content">

		<ul class="pui-breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Grupo de Perfil</a></li>
			<li><a href="#">Cadastro</a></li>
		</ul>

		<div class="painel-primary pui-panel" th:title="#{pagina.cadastro}+' '+#{grupoPerfil}">
			<form action="#" method="post" th:action="@{/grupoPerfilCadastro/salvar}" th:object="${grupoPerfil}">

				<div th:include="~{/_layout/mensagem.html}"></div>

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label required" for="nome" th:text="#{noGrupoPerfil}"></label>
					</div>
					<div class="col-sm-10 form-group">
						<input class="form-control input-sm" id="nome" th:field="*{noGrupoPerfil}" autofocus />
					</div>

				</div>

				<div class="row">
					<div class="col-sm-2 form-group ">
						<label class="control-label" for="listaPerfil" th:text="#{grupoPerfil_perfis}">Perfis</label>
					</div>
					<div class="col-sm-10 form-group">
						<div class="pui-picklist" id="listaPerfil">
							<select></select> 
							<select th:field="*{perfisIdList}" th:multiple="true"></select>
						</div>
					</div>
				</div>

				<div class="form-group buttonsGroup">
					<a id="voltar">
						<label th:text="#{botao.voltar}"></label>
					</a>
					<a id="limparCampos"> 
						<label th:text="#{botao.limpar}"></label>
					</a>
					<button id="submitBt" type="submit">
						<label th:text="#{botao.cadastrar}"></label>
					</button>
				</div>
		
			</div>
		</form>
	</div>

	<div layout:fragment="javascript-support">
		<script type="text/javascript" src="../../resources/js/jquery.mask.js" th:src="@{/resources/js/jquery.mask.js}"></script>

		<script>
			$(function (){
				var sourceData = [(${perfisSourceJSON})];
			  	var targetData = [(${perfisTargetJSON})];
			  	
			  	function carregaListaPerfil(sourceData, targetData){
					$('#listaPerfil').puipicklist({
				        sourceCaption: 'Disponíveis',
				        targetCaption: 'Selecionados',
				        filter: true,
				        filterMatchMode: 'contains',
				        sourceData: sourceData,
				        targetData: targetData,
				        reponsive: true,
				        content: function(option) {
				        	var labelParts = option.label.toString().split("+");
				        	if(!labelParts[1])
					        	labelParts[1]="";
					        return '<div><span style="text-align:left">'+labelParts[0]+'</span><span style="float:right">'+ labelParts[1] +'</span></div>';
				        },
					});
					puipicklist_refresh("#perfisIdList");
				}
			  	
			  	carregaListaPerfil(sourceData, targetData);
				$('#telefoneFixo').mask('(00) 0000-0000');
				$('#telefone').mask('(00) 00000-0000');
				$('#cpf').mask('999.999.999-99' );
				
				$('#nome').keyup(function () {
					this.value = this.value.replace(/[^\w._-]/g,'');
				});
				
				$('#voltar').puibutton({
					icon: 'fa-arrow-circle-left',						
				    click: function(event) {
				    	document.location = document.referrer;
				    }
				});

				$('#limparCampos').puibutton({
					icon: 'fa-eraser',
					click: function(event){
						$('#nome').val('');
						carregaListaPerfil(sourceData, targetData);
					}
				});
				
				$('#submitBt').puibutton({
					icon: 'fa-check',		
				    click: function(event) {
				    	 $('#dlg').puidialog('show');
				    }
				});
			});
			
		</script>
	</div>

</body>
</html>