<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/_layout/layout.html}">

<body>
	<div layout:fragment="content">


		<ul class="pui-breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Configuração</a></li>
			<li><a href="#">Consultar Parâmetros</a></li>
		</ul>

		<div class="painel-primary pui-panel"
			th:title="#{pagina.consulta}+' '+#{parametros}">
			<form action="#" method="GET" th:action="@{/parametroEsoa/s}" th:object="${parametroSistema}">

				<div th:include="~{/_layout/mensagem.html}"></div>

				<div class="row">
					<div class="col-sm-2">
						<label class="control-label" for="grupoPrestadora" th:text="#{grupoPrestadora}"/>
					</div>
					<div class="col-sm-10 form-group">
						<select class="form-control input-sm" id="grupoPrestadora" th:field="*{grupoPrestadora}" >
							<option value="">Todos</option>
							<option th:each="gp : ${todosGrupos}" 
						          th:value="${{gp}}" 
						          th:text="${gp.noGrupoPrestadora}">
							</option>
						</select>
					</div>
				</div>
			
				<div class="form-group buttonsGroup">
					<button id="buttonFind" type="submit"> 
						<label th:text="#{botao.consultar}"></label>
					</button>
					<a id="limparCampos"> 
						<label th:text="#{botao.limpar}"></label>
					</a>
				</div>				
				
			</form>
		</div>
			
		<div class="container-fluid pui-panel-toggleable" th:title="#{tabela.resultados}">
			<div class="pui-datatableResult" id="parametros"></div>
		</div>

	</div>

	<div layout:fragment="javascript-support">
			
		<script type="text/javascript">
			$(function (){
				var localData = [(${parametrosJson})];
				$('#parametros').puidatatable({
					emptyMessage: 'Nenhum Registro Encontrado',
					responsive: true,
			        columns: [
			            {headerText: 'Nome do Grupo de Prestadora',content : function (linha){return linha.grupoPrestadora.noGrupoPrestadora}},
			            {headerText: 'Senha nunca expira', content: function (linha){field: return linha.flPrazoExpirarSenha ? 'Sim' : 'Não'}},
			            {headerText: 'Prazo para expirar senha', field: 'prazoExpirarSenha'},
			            {headerText: 'Senha nunca bloqueia', content: function (linha){field: return linha.flBloquearInatividade ? 'Sim' : 'Não'}},
			            {headerText: 'Bloquear usuário por inatividade', field: 'bloquearInatividade'},
			            {headerText: 'Sem limites de erros', content: function (linha){field: return linha.flQtdErrarSenha ? 'Sim' : 'Não'}},
			            {headerText: 'Quantidade de vezes que o usuário pode errar a senha', field: 'qtdErrarSenha'},
			            {headerText: 'Acesso simultâneo', content: function (linha){field: return linha.flAcessoSimultaneo ? 'Sim' : 'Não'}},
			        ],
			        datasource: localData,
			        paginator: {
				        rows: 10
				    },
				});
				
				$('#grupoPrestadora').puidropdown({
		            filter: true,
		            filterMatchMode: 'contains'
		        });
				
				$("#buttonFind").puibutton({
					icon: 'fa-search',
				    click: function(event) {
				    	 $('#dlg').puidialog('show');
				    }
				});		
				
				$('#limparCampos').puibutton({
					icon: 'fa-eraser',
					click: function(event){
						$('#grupoPrestadora').puidropdown('selectValue', '');
					}
				});
				
			});
  		</script>
	</div>

</body>
</html>